<div class="row page">
    <div class="col-lg-12">
        <h1 class="page-header ">Shipments
            <button class="pull-right btn btn-primary" [routerLink]="['/shipments/add']"
                    *ngIf="currentUser.role !== 'USER'">
                <i class="fa fa-plus"></i> <span class="hidden-xs">New Shipment</span>
            </button>
        </h1>
    </div>
    <pp-spinner [isSpinnerLoad]="!isDataLoaded"></pp-spinner>
    <div class="col-lg-12" *ngIf="isDataLoaded">
        <div class="table-responsive" *ngIf="shipmentArr.length">
            <table class="shipments-table">
                <thead>
                <tr>
                    <th class="bg-primary">Company</th>
                    <th class="bg-primary">Sender</th>
                    <th class="bg-primary">Receiver</th>
                    <th class="bg-primary">Drop Code</th>
                    <th class="bg-primary">Packages</th>
                    <th class="bg-primary" *ngIf="currentUser.role === 'ADMIN'">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let shipment of shipmentArr">
                    <td>{{shipment.companyId.company}}</td>
                    <td>{{shipment.sender['firstName'] + ' ' +shipment.sender['lastName']}}</td>
                    <td>{{shipment.receiver['name']}}</td>
                    <td>{{shipment.sender['code']}}</td>
                    <td>
                        <table class="package-table">
                            <tr>
                                <th>Label</th>
                                <th>Status</th>
                                <th>Size</th>
                                <th>Pickup</th>
                            </tr>
                            <tr *ngFor="let package of shipment.packages">
                                <td>{{package.label ? package.label : 'NONE'}}</td>
                                <td>{{package.status}}</td>
                                <td>{{package.size}}</td>
                                <td>{{package.pickupCode ? package.pickupCode : 'NONE'}}</td>
                            </tr>
                        </table>
                    </td>
                    <td *ngIf="currentUser.role === 'ADMIN'">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-danger" (click)="fnDeleteShipment(shipment._id)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!shipmentArr.length" class="text-center">No shipments found.</h3>
    </div>
</div>
